<div class="">
    <h2>Create Task</h2>
    <form action="/tasks/create" method="post" class="form-container">
        <label class="form-item">
            <span>Title:</span>
            <input type="text" name="title" required class="input-field">
        </label>
        <input type="hidden" name="done" value="0">
        <input type="submit" value="add" class="btn add">
    </form>
</div>